/* Variables and mixins declared here will be available in all other SCSS files */

// These are temporary colours while I kick everything else up
$theme-primary: goldenrod;
$theme-can-activate: whitesmoke;
$theme-deletes: crimson;

// It's quite plausible this should be in the list item component, but I want consistent design theme to be applied across the whole app eventually.
// May need to use a web-safe font elsewhere, or at least supply Bebas here.
$theme-item-font: 'Bebas Neue', sans-serif;